@import 'src/stylesheets/custom';

@mixin after-underline {
  border-bottom: 2px solid $soft-red;
  content: " ";
  left: 0;
  position: absolute;
  right: 0;
}

#top-navbar {
  background: linear-gradient(to bottom, $dark-desaturated-blue, $midnight-blue, $dark-desaturated-blue) fixed !important;
  letter-spacing: 0.2rem;
  line-height: 1.5;
  font-weight: 100;

  #name-brand.navbar-brand a {
    color: $soft-red;
    position: relative;

    &:hover, &:active {
      text-decoration: none;

      &:after {
        @include after-underline;
        top: 1.4em;
      }
    }
  }

  .navbar-collapse.collapse {
    .navbar-nav {
      .nav-link {
        color: $grayish-red;
        position: relative;

        &.active, &:hover, &:active {
          color: $soft-red;
          text-decoration: none;

          &:after {
            @include after-underline;
            bottom: 0.1em;
          }
        }
      }
    }
  }

}
