@import 'src/stylesheets/custom';

.about {
  height: 100%;
  width: 100%;

  #heading {
    position: relative;

    &:before {
      content: "";
      left: 10%;
      bottom: 0;
      height: 1px;
      position: absolute;
      width: 77%;
      border-bottom: 0.25rem solid $dark-desaturated-blue !important;
    }
  }

  section {
    width: 80%;

    #profile-container {
      width: 15rem;
      #loader-container {
        margin-left: 2rem;
        padding-top: 2rem;
        min-height: 7rem;
      }
    }
  }
}