@import 'src/stylesheets/custom';

.MuiCard-root {
  .MuiButtonBase-root {
    cursor: initial;
  }

  .MuiCardContent-root{
    .MuiTypography-root  {
      min-height: 3em !important;
    }
  }

  #dialog-ellipsis {
    cursor: pointer !important;
  }
}
