$white: #fff;
$nav-link-color: #d6d0d0;
$soft-red: #f54c57;
$midnight-blue: #111119;
$grayish-red: #d6d0d0;
$dark-blue: #38495a;
$bright-red: #e74c3c;
$dark-desaturated-blue: #38495a;
$black-gray: #202020;
$brightOrange: #F6AE2D;