// Override default variables before the import
//$body-bg: #000;
@import './colors';
// Import Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';

html, body {
  min-height: 100vh;
  font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  color: $dark-desaturated-blue;
  text-align: center;
}

