// Override default variables before the import
//$body-bg: #000;
@import './colors';
// Import Bootstrap and its default variables
@import 'node_modules/bootstrap/scss/bootstrap';

html, body {
  height: 100%;
  font-family: 'Roboto', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0.1em;
  background: -webkit-linear-gradient($midnight-blue, $dark-blue, $midnight-blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

