@import 'src/stylesheets/custom';

section {
  width: 80%;

  #profile-container {
    width: 15rem;

    #loader-container {
      margin-left: 2rem;
      padding-top: 2rem;
      min-height: 7rem;
    }
  }
}